/* line 4, /Users/joannachen/ruby-getting-started/app/assets/stylesheets/theme.css.scss */
.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px;
}
/* line 9, /Users/joannachen/ruby-getting-started/app/assets/stylesheets/theme.css.scss */
.jumbotron .btn-primary {
  background: #845ac7;
  border-color: #845ac7;
}
/* line 12, /Users/joannachen/ruby-getting-started/app/assets/stylesheets/theme.css.scss */
.jumbotron .btn-primary:hover {
  background: #7646c1;
}
/* line 17, /Users/joannachen/ruby-getting-started/app/assets/stylesheets/theme.css.scss */
.jumbotron p {
  color: #d9ccee;
  max-width: 75%;
  margin: 1em auto 2em;
}
/* line 23, /Users/joannachen/ruby-getting-started/app/assets/stylesheets/theme.css.scss */
.navbar + .jumbotron {
  margin-top: -20px;
}
/* line 27, /Users/joannachen/ruby-getting-started/app/assets/stylesheets/theme.css.scss */
.jumbotron .lang-logo {
  display: block;
  background: #B01302;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: auto;
  border: 2px solid white;
}
/* line 36, /Users/joannachen/ruby-getting-started/app/assets/stylesheets/theme.css.scss */
.jumbotron .lang-logo img {
  max-width: 100%;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

